body {
    margin: 60px auto;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer ul {
    
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: .8em
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1.1em;
    font-weight: bold;
}
p {
    color: #333;
    font-size: 1em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    background-color: #f8f8f8; 
}
ul.posts { 
    margin: 20px auto 40px; 
}

ul.posts li {
    list-style: none;
}

nav {
    border-bottom: 1px solid #d5d5d5;
}

div.container {
    background-color: #f8f8f8;  
}

nav ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:  bold;
  }
  
  nav ul li a:hover {
    color: #111;
    text-decoration: none;
  }
  
