body {
    margin: 60px auto;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
    padding: 20px;
    background: #f1f1f1;
}

.footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: .8em
}
.footer ul li {
    display: inline;
    margin-right: 20px;
}
.footer {
  border-top: 2px solid #d5d5d5;
  background-color: white; 
  padding: 14px 16px;
}

a {
    color: #111;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1.1em;
    font-weight: bold;
}
p {
    color: #333;
    font-size: 1em;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;

}
ul.breadcrumb li {
  display: inline;
  font-size: 12Ppx;
}
ul.breadcrumb li+li:before {
  padding: 4px;
  content: ">\00a0";
}


ul.posts li {
    list-style: none;
}

ul.posts {
  padding-inline-start: 0px;
}

nav {
    border-bottom: 2px solid #d5d5d5;
}

div.container {
    background-color: white;  
    padding: 14px 16px;
}

nav ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  nav ul li {
    float: left;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
  
  nav ul li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:  bold;
  }
  
  nav ul li a:hover {
    color: #111;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }



  .card ul {
    padding: 4px;
    list-style: none;
    font-size: 1em
}

.follow ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.follow li {
  float: left;
  margin: 4px;
}
  
  /* Header/Blog Title */
  .header {
    padding: 8px;
    font-size: 40px;
    text-align: center;
    background: white;
    width:100%;
    height:350px;
    opacity: .5;
    overflow:hidden;
    background-image: url(../images/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

  }


  /* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn { 
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    width: 100%;
    padding: 4px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: left;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn { 
      width: 100%;
      padding: 0;
    }
  }
  

/*Syntax*/

.highlight { 
    background-color: #f8f8f8e0;
    padding: 5px 10px;
    margin: 20px 0;
    border: 1px solid #d5d5d5;
  }

  
.highlight pre {
    /* overflow: scroll; Prefer no word wrap? Uncomment this line and comment out the 2 lines below. */
    word-break: break-all;
    word-wrap: break-word;
    border: none;
}
  
  code {
    font-family:'Bitstream Vera Sans Mono','Courier', monospace;
    font-size: 15px;
  }

.lineno { padding-right: 24px; color: lighten(#333332,50);}
.hll { background-color: #ffffcc }
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */